<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <br><h2>Received messages</h2>
    <% if @messages.any? %>
      <% @messages.each do |message| %>
        <% sender = User.find(message.sender)  %>
        <% m = Message.find_by(sender: sender.id) %>
        from: <%= sender.username %>
        <%= link_to "See message", user_message_path(m) %><br>
        <% end %>
      <% end %>
    <h2>Sent Messages</h2>
    <% if @sent_messages.any? %>
      <% @sent_messages.each do |message| %>
        <% recipient = User.find(message.recipient)  %>
          <li>to: <%= recipient.username %> on: <%= message.created_at.strftime("%m/%d/%Y") %>
          <br><%= message.body %></li>
          <% end %>
        <% end %>
  </body>
</html>
