<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <br><h2>Received messages</h2>
    <% if @messages.any? %>
      <% @messages.sort.reverse.each do |message| %>
        <% sender = User.find(message.sender) %>
            <div style="width:50%; background-color: pink;">
              From: <%= sender.username %>,
              on :  <%= message.created_at.strftime("%m/%d/%Y") %><br>
                    <%= message.body[0..20] %><br>
                    <%= link_to "See full message and reply", user_message_path(message) %>
            </div><br>
        <% end %>
      <% end %>
    <h2>Sent Messages</h2>
    <% if @sent_messages.any? %>
      <% @sent_messages.sort.reverse.each do |message| %>
        <% recipient = User.find(message.recipient)  %>
        <div style="width:50%; background-color: #42e5f4;">
          To: <%= recipient.username %> on: <%= message.created_at.strftime("%m/%d/%Y") %>
          <br><%= message.body[0..20] %><br>
            <%= link_to "See full message", user_message_path(message) %>
            </div><br>
          <% end %>
        <% end %>
  </body>
</html>
