<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>
    </title>
      </head>
      <body>

      <% sender = User.find(@message.sender) %>
        From: <%= sender.username %><br> <br>
          <% @all_messages = Message.where(["recipient = :recipient and sender = :sender", { recipient: current_user.id, sender: sender.id }]) + Message.where(["recipient = :recipient and sender = :sender", { recipient: sender.id , sender: current_user.id }]) %>
      <% @all_messages.sort.each do |message| %>
      <% sender = User.find(message.sender) %>
      On:   <%= message.created_at.strftime("%m/%d/%Y") %>
      From: <%= sender.username %>
            "<%= message.body %>"<br>
      <% end %>

    <p>Reply:<p>
    <%= simple_form_for ([current_user, current_user.messages.build]) do |r| %>
      <%= r.hidden_field :recipient, :value => sender.id %>
      <%= r.hidden_field :sender, :value => current_user.id %>
      <%= r.hidden_field :branch_id, :value => nil %>
      <%= r.hidden_field :project_id, :value => nil %>
      <%= r.input :body, placeholder: 'Message', label: false %>
      <%= r.button :submit, 'Sent' %>
    <% end %>
<br><br>
<h2> Block user <h2>
<%= link_to "Block user", action: :block_user(sender.id) %>


  <% Blacklist.each do |blacklist| %>
  <% if sender.id == blacklist.blocked && blacklist.owner_type == "Message" %>

  </body>
</html>
