<body>
  <div id="page-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <h3 class="page-header">
            <% sender = User.find(@message.sender) %>
            Private message with <%= sender.username %>
          </h3>
        </div>
      </div>
      <% @all_messages = Message.where({ recipient: current_user.id, sender: sender.id }) + Message.where({ recipient: sender.id , sender: current_user.id }) %>
      <% @all_messages.sort.each do |message| %>
        <% sender = User.find(message.sender) %>
        <% if sender.username == current_user.username %>
          <div style= "border: 2px solid #ea6060;
            border-radius: 5px; width: 150px; background-color: #ea6060"><strong>&nbsp You: </strong>
            <small style="color:grey"><%= message.created_at.strftime("%d/%m/%Y") %></small>
            <br><%= message.body %>
            </div><br>
        <% else %>
        <div style= "border: 2px solid #4fa3f7;
            border-radius: 5px; width: 150px; background-color: #4fa3f7"><strong>&nbsp<%= sender.username %>: </strong>
            <small style="color:grey"><%= message.created_at.strftime("%d/%m/%Y") %></small>
            <br><%= message.body %>
            </div><br>
        <% end %>

      <% end %>
      <br>

      <div class="reply-box">
        <p>Reply:<p>
          <%= simple_form_for ([current_user, current_user.messages.build]) do |r| %>
          <%= r.hidden_field :recipient, :value => sender.id %>
          <%= r.hidden_field :sender, :value => current_user.id %>
          <%= r.hidden_field :branch_id, :value => nil %>
          <%= r.hidden_field :project_id, :value => nil %>
          <%= r.input :body, placeholder: 'Message', label: false %>
          <%= r.button :submit, 'Send' %>
          <% end %>
          <br><br>
      </div>
    </div>
  </div>
</body>
