<%if @project.requests.count != 0 %>
  <div class="notice">
    <% @project.requests.each do |request| %>
      <%if request.id != nil && request.status == "In progress" %>
        <% user = User.find(request.collab_id) %>
        <a href="/user/<%= user.username %>"><strong><%= user.username + ": "%></strong></a><%= request.message %>
        <%= button_to 'Accept Request', request_approve_collab_path(request), method: :post, class: 'btn btn-default arbutton'%>
        <%= button_to 'Reject Request', request_reject_collab_path(request), method: :post, class: 'btn btn-default arbutton'%>
      <% end %>
    <% end %>
  </div>
<% end %>