<div id="page-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header">
          Edit your profile
        </h1>
      </div>
    </div>
    <% if @user.fb_image != nil && @user.image.read == nil %>
      <img src="<%= @user.fb_image %>" style="width:152px; height:152px; border-radius: 50%;"></img>
    <% elsif @user.image.read != nil %>
      <img src="<%= @user.image %>" style="width:152px; height:152px; border-radius: 50%;"></img>
    <% else%>
          <img src="https://s28.postimg.org/s7zoetr65/default_avatar.jpg" style="width:152px; height:152px; border-radius: 50%;"></img>
    <%end %>
  <%= simple_form_for @user do |i| %>
    <%= i.file_field :image %>
    <%= i.button :submit, "Upload Picture" %>
  <% end %><br>

<div>
  <%= simple_form_for @user do |i| %>
    <%= i.input :bio, value: @user.bio , placeholder: "Edit your bio", label: false %>
    <%= i.button :submit, "Edit Bio" %>
  <% end %>
</div>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email, required: true, autofocus: true %>
    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>
    <%= f.input :password, autocomplete: "off", hint: "leave it blank if you don't want to change it", required: false %>
    <%= f.input :password_confirmation, required: false %>
    <%= f.input :current_password, hint: "we need your current password to confirm your changes", required: true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Update" %>
  </div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>

</div>
</div>
