<h3>Comments</h3>

<div class="col-lg-6 comment-input">
  <%= simple_form_for ([@branch, @branch.comments.build]) do |c| %>
    <%= c.hidden_field :user_id, :value => current_user.id %>
    <%= c.input :body, placeholder: 'Comment', class: 'comment-box', label: false %>
    <%= c.button :submit, value: 'Save Comment', class: 'comment-button' %>
  <% end %>
</div>

<div class="col-lg-6 comment-show">
  <% @branch.comments.each do |comment|%>
    <% if comment.user_id != nil %>
      <% user = User.find(comment.user_id) %>
      <strong><%= user.username + " : " %></strong><%= comment.body %><br>
    <% end %>
  <% end %>
</div>
