<% if user_signed_in? %>
      <div id="page-wrapper">
        <%= render "ensemble/partials/ensemble_index_notifications" %>

          <div class="container-fluid">

              <div class="row">
                  <div class="col-lg-12">
                      <h1 class="page-header">
                          Dashboard <small>Project Overview</small>
                      </h1>
                      <ol class="breadcrumb">
                          <li class="active">
                              <i class="fa fa-dashboard"></i> Dashboard
                          </li>
                      </ol>
                  </div>
              </div>
              <div class="row">
                <%= render "ensemble/partials/ensemble_index_projects_panel" %>
                <%= render "ensemble/partials/ensemble_index_notifications_panel" %>
                <%= render "ensemble/partials/ensemble_index_messages_panel" %>
                <%= render "ensemble/partials/ensemble_index_profile_panel" %>
              </div>
          </div>

      </div>
  </div>
  <% else %>
  <h1 style="color:white;font-size:10em;padding-top:1.7em;padding-left:0.3em;">ENSEMBLE</h1>
<% end %>
