<div class="new-project-form">
  <%= simple_form_for current_user.projects.build do |f| %>
  <%= f.hidden_field :user_id, :value => current_user.id %>
  <%= f.input :title, placeholder: 'Project Title', class: 'new-project-title' %>
  <%= f.input :genre, placeholder: 'Project Genre', class: 'new-project-genre' %>
  <%= f.input :description, placeholder: 'Project Description', class: 'new-project-description' %>
  <%= f.button :submit, button_html: { value: 'Create Project' }, class: 'new-project-submit' %>
  <% end %>
</div>
