<div id="page-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header">
          Notifications
        </h1>
        <ol class="breadcrumb">
          <li>
            <i class="fa fa-dashboard"></i>  <a href="/">Dashboard</a>
          </li>
          <li class="active">
            <i class="fa fa-fw fa-desktop"></i> Notifications
          </li>
        </ol>
      </div>
    </div>

    <ul>
      <% @notifications.each do |n| %>
        <% sender = User.find(n.notified_by) %>
        <% if n.owner_type == "Message" %>
          <li>
            <%= sender.username %> has sent you a message
            <%= link_to "See message", notification_link_through_path(n) %>
          </li>
        <% elsif n.owner_type == "Branch" %>
          <li>
            <%= sender.username %> has created a Branch
            <%= link_to "See Branch", notification_link_through_path(n) %>
          </li>
        <% elsif n.owner_type == "Comment"  %>
          <li>
            <%= sender.username %> has made a new comment
            <%= link_to "Have a look", notification_link_through_path(n) %>
          </li>
        <% elsif n.owner_type == "Track"  %>
          <li>
            <%= sender.username %> has uploaded a new track
            <%= link_to "Listen to the track", notification_link_through_path(n) %>
          </li>
        <% elsif n.owner_type == "Request"  %>
          <li>
            <%= sender.username %> has sent a new request
            <%= link_to "Have a look", notification_link_through_path(n) %>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>
