<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <br><h1><%= @user.username %> profile</h1>
    <% if @user.id == current_user.id %>
      <br><h2>Messages Board</h2>
      <% if @messages.count != 0 %>
        <% @messages.each do |message| %>
          <% sender = find_sender(message)  %>
          <ul>
            <li>from: <%= sender.email %> on: <%= message.created_at.strftime("%m/%d/%Y") %></li>
            <li><%= message.body %></li>
          </ul>
          <p>Reply:<p>
          <%= simple_form_for ([current_user, current_user.messages.build]) do |m| %>
            <%= m.hidden_field :recipient, :value => sender.id %>
            <%= m.hidden_field :sender, :value => current_user.id %>
            <%= m.hidden_field :branch_id, :value => nil %>
            <%= m.hidden_field :project_id, :value => nil %>
            <%= m.input :body, placeholder: 'Message' %>
            <%= m.button :submit, button_html: { value: 'Save' } %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </body>
</html>
