<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div>
      <img src="<%= @user.image %>" style="width:152px; height:152px; border-radius: 50%;"></img>
    </div>

    <div>
      <p><%= @user.bio %></p>
    </div>

    <br><h1><%= @user.username %> profile</h1>
    <div>
      <% if @user.id == current_user.id %>
        <br><h2>Messages Inbox</h2>
        <% if @messages.count != 0 %>
          <% @messages.each do |message| %>
            <% sender = find_sender(message)  %>
            <ul>
              <li>from: <%= sender.email %> on: <%= message.created_at.strftime("%m/%d/%Y") %></li>
              <li><%= message.body %></li>
            </ul>
            <p>Reply:<p>
            <%= simple_form_for ([current_user, current_user.messages.build]) do |m| %>
              <%= m.hidden_field :recipient, :value => sender.id %>
              <%= m.hidden_field :sender, :value => current_user.id %>
              <%= m.hidden_field :branch_id, :value => nil %>
              <%= m.hidden_field :project_id, :value => nil %>
              <%= m.input :body, placeholder: 'Message' %>
              <%= m.button :submit, button_html: { value: 'Save' } %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </div>

    <div>
      <h2>Current Projects</h2>
      <% if @projects.count != 0 %>
        <% @projects.each do |project| %>
          <%= project.title %>
          <%= project.description %>
          Created on: <%= project.created_at.strftime("%m/%d/%Y") %>
          <%= link_to "See the project", project_path(project) %>
        <% end %>
      <% else %>
        <% if @user.id == current_user.id %>
          You are not working on any projects at the moment.
        <% else %>
          <%= @user.username %> is not working on any projects at the moment.
        <% end %>
      <% end %>
    </div>

    <div>
      <h2>Current Collaborations</h2>
      <% if @branches.count != 0 %>
        <% @branches.each do |branch| %>
          <%= branch.title %>
          <%= branch.instrument %>
          <%= branch.description %>
          Created on: <%= branch.created_at.strftime("%m/%d/%Y") %>
          <%= link_to "See the collaboration page", branch_path(branch) %>
        <% end %>
      <% else %>
        <% if @user.id == current_user.id %>
          You are not collaborating on any projects at the moment.
        <% else %>
          <%= @user.username %> is not collaborating on any projects at the moment.
        <% end %>
      <% end %>
    </div>

  </body>
</html>
