<body>
    <div>
      <div id="page-wrapper">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-12">
              <h1 class="page-header">
                <%= @user.username %> profile
              </h1>
            </div>
          </div>

      <% if @user.fb_image %>
        <img src="<%= @user.fb_image %>" style="width:152px; height:152px; border-radius: 50%;"></img>
      <% elsif @user.image && !@user.fb_image %>
        <img src="<%= @user.image %>" style="width:152px; height:152px; border-radius: 50%;"></img>
      <% else %>
        <img src="http://edst-educ.sites.olt.ubc.ca/files/2014/08/cropped-icon_16571-grey11.png"style="width:152px; height:152px; border-radius: 50%;"></img>
      <% end %>


    <div>
      <p><%= @user.bio %></p>
    </div>

    <%= render "users/partials/profile_messages", local: { message: @messages, user: @users } %>
    <%= render "users/partials/profile_messages", local: { project: @projects, user: @users } %>

    <div>
      <h2>Current Projects</h2>
      <% if @projects.any? %>
        <% @projects.each do |project| %>
          <li>
            <%= project.title %>
            <%= project.description %>
            Created on: <%= project.created_at.strftime("%d/%m/%Y") %>
            <%= link_to "See the project", project_path(project) %>
          </li>
        <% end %>
      <% else %>
        <% if @user.id == current_user.id %>
          You are not working on any projects at the moment.
        <% else %>
          <%= @user.username %> is not working on any projects at the moment.
        <% end %>
      <% end %>
    </div>

    <div>
      <h2>Current Collaborations</h2>
      <% if @branches.any? %>
        <% @branches.each do |branch| %>
          <li>
            <%= branch.title %>
            <%= branch.instrument %>
            <%= branch.description %>
            Created on: <%= branch.created_at.strftime("%d/%m/%Y") %>
            <%= link_to "See the collaboration page", branch_path(branch) %>
          </li>
        <% end %>
      <% else %>
        <% if @user.id == current_user.id %>
          You are not collaborating on any projects at the moment.
        <% else %>
          <%= @user.username %> is not collaborating on any projects at the moment.
        <% end %>
      <% end %>
    </div>

    <div>
      <h2>My Requests</h2>

      <% if @requests.any? %>
        <% @project_check = false %>
          <% @requests.each do |req| %>
            <% if req.owner_type == "Project" && @project_check == false  %>
              <h3>My Collaboration Requests</h3>
              <% @project_check = true %>
              <% end %>
            <% end %>
          <% end %>

      <% if @requests.any? %>
        <% @requests.each do |req| %>
          <% if req.owner_type == "Project" %>
            <% project = Project.find(req.owner_id) %>
              Project Name: <%= project.title %><br>
              Time and Date of Request: <%= req.created_at.strftime("%H:%M, %d/%m/%Y") %><br>
              Status:<%= req.status %><br><br>
              <%= button_to "Delete", request_path(req), method: :delete %>
            <% end %>
          <% end %>
        <% end %>


        <% if @requests.any? %>
          <% @branch_check = false %>
            <% @requests.each do |req| %>
              <% if req.owner_type == "Branch" && @branch_check == false  %>
                <h3>My Mix Requests</h3>
                <% @branch_check = true %>
                <% end %>
              <% end %>
            <% end %>

        <% if @requests.any? %>
          <% @requests.each do |req| %>
            <% if req.owner_type == "Branch" %>
              <% branch = Branch.find(req.owner_id) %>
                Branch Name: <%= branch.title %><br>
                Time and Date of Request: <%= req.created_at.strftime("%H:%M, %d/%m/%Y") %><br>
                Status: <%= req.status %><br><br>
                <%= button_to "Delete", request_path(req), method: :delete %>
              <% end %>
            <% end %>
          <% end  %>




    <% if @requests.any? == false %>
        You have not made any collaboration requests.
        You have not made any mix requests.
    <% end %>

    <% %>
  </div>
  </div>
</body>
