<body>
  <% @branch = Branch.find(@request.owner_id) %>
  <% @project = Project.find(@branch.project_id) %>
  <% @user = User.find(@branch.user_id) %>
  <div id="page-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <h1 class="page-header text-center">
          Mix request for "<%= @branch.title %>"
          </h1>
        </div>
      </div>

        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 ">
        </div>
      <div class="col-lg-6 request-mix-content">
          Message from <%= @user.username %>:
          <br><%= @request.message %><br>
          <% if @project.tracks.count != 0%>
            <% @project.tracks.each do |track| %>
              <% if track.title != nil %>
                <br>Master:
                <audio src="<%=audio_path track.avatar%>" type="audio/mpeg" controls> </audio>
                <br><br>
              <% end %>
            <% end %>
          <% end %>

          <% if @branch.tracks.count != 0%>
            <% @branch.tracks.each do |track| %>
              <% if track.title != nil %>
                Mix: &nbsp&nbsp&nbsp&nbsp
                <audio src="<%=audio_path track.avatar%>" type="audio/mpeg" controls> </audio>
              <% end %>
            <% end %>
          <% end %>
          <br><br>

          <div class="col-lg-8" style="padding-left:0;" >
              <%= button_to 'Approve Request', request_approve_mix_path(@request.id), method: :post, class: "btn btn-default" %>
              </div>
            <div class="col-lg-4">
              <%= button_to 'Reject Request', request_reject_mix_path(@request.id), method: :post, class: "btn btn-default", style: "width:100%" %>
              <br>
          </div>

          <div class="col-lg-12" style="padding-left:0;">
            <%= simple_form_for ([current_user, current_user.messages.build]) do |m| %>
            <%= m.hidden_field :recipient, :value => @user.id %>
            <%= m.hidden_field :sender, :value => current_user.id %>
            <%= m.hidden_field :branch_id, :value => @branch.id %>
            <%= m.hidden_field :project_id, :value => @project.id %>
            <%= m.input :body, placeholder: " If you need, you can message #{@user.username} before approving / rejecting their request", wrapper_html: { class: 'form-group' }, input_html: { class: 'form-control' }, label: false %>
            <%= m.button :submit, value: "Send" %>
            <% end %>
          </div>
        </div>

      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 ">
      </div>
    </div>
  </div>
</div>
</body>
