<body>

  <%= @request.message %>


  <% @request = Request.find(params[:id]) %>

  <% @branch = Branch.find(@request.request_owner_id) %>
  <% @project = Project.find(@branch.project_id) %>


  <% if @project.tracks.count != 0%>
    <% @project.tracks.each do |track| %>
      <% if track.title != nil %>
        <br>Master:
        <audio src="<%=audio_path track.avatar%>" type="audio/mpeg" controls> </audio>
        <br><br>
      <% end %>
    <% end %>
  <% end %>

  <% if @branch.tracks.count != 0%>
    <% @branch.tracks.each do |track| %>
      <% if track.title != nil %>
        Mix:
        <audio src="<%=audio_path track.avatar%>" type="audio/mpeg" controls> </audio>
      <% end %>
    <% end %>
  <% end %>

<br><br><%= button_to 'Approve Mix Request', request_approve_mix_path(@request.id), method: :post %>
<br><br><%= button_to 'Reject Mix Request', request_reject_mix_path(@request.id), method: :post %>

</body>
