<h1>New Project</h1>

<%= simple_form_for current_user.projects.build do |f| %>
  <%= f.hidden_field :user_id, :value => current_user.id %>
  <%= f.input :title, placeholder: 'Project Title' %>
  <%= f.input :genre, placeholder: 'Project Genre' %>
  <%= f.input :description, placeholder: 'Project Description' %>
  <%= f.button :submit, button_html: { value: 'Create Project' } %>
<% end %>
