
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <%= @project.title %>
    <%= @project.genre %>
    <%= @project.description %>

    <%= simple_form_for ([@project, @project.tracks.build]) do |t| %>
      <%= t.input :title, placeholder: 'Track Title' %>
      <%= t.input :text, placeholder: 'Track Description' %>
      <%= t.file_field :avatar %>
      <%= t.button :submit, button_html: { value: 'Upload Track' } %>
    <% end %>
    <%= button_to 'Delete Project', project_path(@project), method: :delete, data: {confirm: 'Are you sure you want to delete this project?'} %>

    <% if @project.tracks.count != 0%>

    <% @project.tracks.each do |track| %>
    <% if track.title != nil %>
      <audio controls>
        <source src="<%=audio_path track.avatar%>" type="audio/mpeg"></source>
      </audio>
      <a href="<%=track.avatar%>" download="Song">Download</a>
      <%= button_to 'Remove track', project_track_path(@project, track), method: :delete, data: {confirm: 'Are you sure you would like to delete this track?'} %>
    <% end %>
    <% end %>
    <% end %>

    <%= simple_form_for ([@project, @project.comments.build]) do |c| %>
      <%= c.input :body, placeholder: 'Comment' %>
      <%= c.button :submit, button_html: { value: 'Save' } %>
    <% end %>

    <%if @project.comments.count != 0 %>
    <% @project.comments.each do |comment|%>
    <% if comment.user_id != nil %>
    <% user = User.find(comment.user_id) %>
    <%= user.email + " said:" %>
    <%= comment.body %>
      <% end %>
    <% end %>
    <% end %>

    <h2>Create a branch</h2>
    <%= simple_form_for ([@project, @project.branches.build]) do |b| %>
      <%= b.input :title, placeholder: 'Title' %>
      <%= b.input :instrument, placeholder: 'Instrument' %>
      <%= b.input :description, placeholder: 'Description' %>
      <%= b.button :submit, button_html: { value: 'Upload Track' } %>
    <% end %>


  </body>


</html>
