
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <%= @project.title %>
    <%= @project.genre %>
    <%= @project.description %>

    <%= simple_form_for ([@project, @project.tracks.build]) do |t| %>
      <%= t.input :title, placeholder: 'Track Title' %>
      <%= t.input :text, placeholder: 'Track Description' %>
      <%= t.file_field :avatar %>
      <%= t.button :submit, button_html: { value: 'Upload Track' } %>
    <% end %>
  </body>
</html>
