
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title></title>
</head>
<body>


  <%= @project.title %>
  <%= @project.genre %>
  <%= @project.description %>
     <% if @project.user_id == current_user.id %>
      <h2>Upload Your Master Track</h2>
  <%= simple_form_for ([@project, @project.tracks.build]) do |t| %>
  <%= t.hidden_field :user_id, :value => current_user.id %>
  <%= t.input :title, placeholder: 'Track Title' %>
  <%= t.input :text, placeholder: 'Track Description' %>
  <%= t.file_field :avatar %>
  <%= t.button :submit, button_html: { value: 'Upload Track' } %>
  <% end %>
      <%= button_to 'Delete Project', project_path(@project), method: :delete, data: {confirm: 'Are you sure you want to delete this project?'} %>
    <% end %>

  <% if @project.tracks.count != 0%>
    <% @project.tracks.each do |track| %>
      <% if track.title != nil %>
        <audio src="<%=audio_path track.avatar%>" type="audio/mpeg" controls> </audio>
      <% @project.collaborations.each do |collaboration| %>
        <% if current_user.id == collaboration.collaborator || current_user.id == @project.user_id %>
        <a href="<%=track.avatar%>" download="Song">Download</a>
        <% else %>
        <h2> Send a collaboration request to download the track <h2>
        <% end %>
        <% end %>
        <% if current_user.id == @project.user_id%>
        <%= button_to 'Remove track', project_track_path(@project, track), method: :delete, data: {confirm: 'Are you sure you would like to delete this track?'} %>
        <% end %>
        <% end %>
    <% end %>
    <% end %>

    <%= simple_form_for ([@project, @project.comments.build]) do |c| %>
    <%= c.hidden_field :user_id, :value => current_user.id %>
    <%= c.input :body, placeholder: 'Comment' %>
    <%= c.button :submit, button_html: { value: 'Save' } %>
    <% end %>

    <%if @project.comments.count != 0 %>
      <% @project.comments.each do |comment|%>
        <% if comment.user_id != nil %>
          <% user = User.find(comment.user_id) %>
          <%= user.email + " said:" %>
          <%= comment.body %>
        <% end %>
      <% end %>
  <% end %>
  <% if @project.collaborations.count != 0 %>
  <% @project.collaborations.each do |collaboration| %>
    <% if current_user.id == collaboration.collaborator  %>
      <h2>Create a branch</h2>
      <%= simple_form_for ([@project, @project.branches.build]) do |b| %>
      <%= b.hidden_field :user_id, :value => current_user.id %>
      <%= b.input :title, placeholder: 'Title' %>
      <%= b.input :instrument, placeholder: 'Instrument' %>
      <%= b.input :description, placeholder: 'Description' %>
      <%= b.button :submit, button_html: { value: 'Upload Track' } %>
      <% end %>
    <% end %>
    <% end %>
    <% end %>
    <%if current_user.id != @project.user_id %>
    <h2>Send a Collaboration request </h2>
    <%= simple_form_for ([@project, @project.requests.build]) do |r| %>
    <%= r.hidden_field :status, :value => "In progress" %>
    <%= r.hidden_field :owner_id, :value => @project.user_id %>
    <%= r.hidden_field :collab_id, :value => current_user.id %>
    <%= r.input :message, placeholder: 'Message' %>
    <%= r.button :submit, button_html: { value: 'Save' } %>
    <% end %>
    <% end %>

  <h2>Send a message to the project owner <h2>
    <%= simple_form_for ([current_user, current_user.messages.build]) do |m| %>
      <%= m.hidden_field :recipient, :value => @project.user_id %>
      <%= m.hidden_field :sender, :value => current_user.id %>
      <%= m.hidden_field :branch_id, :value => nil %>
      <%= m.hidden_field :project_id, :value => @project.id %>
      <%= m.input :body, placeholder: 'Message' %>
      <%= m.button :submit, button_html: { value: 'Save' } %>
  <% end %>

<%if current_user.id == @project.user_id %>
    <h2> Mix requests <h2>
    <%if @project.branches.count != 0 %>
      <% @project.branches.each do |branch| %>
        <%if branch.requests.count != 0 %>
          <% branch.requests.each do |request| %>
          <% user = User.find(request.collab_id) %>
          <br><%= user.username %>
          <br>  <%= request.message %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>

      <h2> Collab requests <h2>
      <%if @project.requests.count != 0 %>
        <% @project.requests.each do |request| %>
          <%if request.id != nil && request.status == "In progress" %>
            <% user = User.find(request.collab_id) %>
            From: <%= user.email %>
            Message: <%= request.message %>
            <%= button_to 'Reject Request', request_reject_path(request), method: :post%>
            <%= button_to 'Accept Request', request_approve_path(request), method: :post%>
        <% end %>
      <% end %>
    <% end %>


      <% if @project.collaborations.count != 0  && @project.user_id == current_user.id %>
      <h2> Excisting collaborations <h2>
      <% @project.collaborations.each do |collaboration| %>
       <%user = User.find(collaboration.collaborator) %>
       <a>From: <%= user.email %><a>
        <%= button_to 'Remove Collaboration', project_collaboration_path(@project, collaboration), method: :delete, data: {confirm: 'Are you sure you would like to delete this collaboration?'} %>
        <%= simple_form_for ([@project, @project.blacklists.build]) do |b| %>
        <%= b.hidden_field :blocked, :value => user.id %>
        <%= b.button :submit, button_html: { value: 'Block user' } %>
        <% end %>
        <% end %>
      <% end %>
<% end %>
    <h2> Messages <h2>
      <% if current_user.id == @project.user_id%>
      <% @project.branches.each do |branch| %>
        <a>Branch :<%= branch.title %>
      <br>Message received
      <% Message.all.each do|message| %>
      <% if message.branch_id == branch.id && message.recipient == current_user.id %>
      <% user = User.find(message.sender) %>
      <br>from: <%= user.email %>
      <br><%= message.body %>
      <% end %>
      <% end %>
      <h2>Reply: <h2>
        <%= simple_form_for ([current_user, current_user.messages.build]) do |m| %>
          <%= m.hidden_field :recipient, :value => branch.user_id %>
          <%= m.hidden_field :sender, :value => current_user.id %>
          <%= m.hidden_field :branch_id, :value => branch.id %>
          <%= m.hidden_field :project_id, :value => @project.id %>
          <%= m.input :body, placeholder: 'Message' %>
          <%= m.button :submit, button_html: { value: 'Save' } %>
      <% end %>
      <br>Message sent
      <% current_user.messages.each do |message| %>
      <% if message.branch_id == branch.id %>
      <% user = User.find(message.recipient) %>
      from: <%= user.email %>
      <br><%= message.body %>
      <% end %>
      <% end %><br>
      <% end %>
  <% end %>

<%if @project.branches.count != 0 %>
  <% if @project.blacklists.count == 0 %>
<% @project.branches.each do |branch| %>
<%= branch.title %>
<%= link_to "See Branch", branch_path(branch) %>
<%end%>
<%end%>

<% if @project.blacklists.count != 0 %>
List of current branches
<% @project.blacklists.each do |blacklist| %>
<% @project.branches.each do |branch| %>
<% if blacklist.blocked != current_user.id %>
<br><%= branch.title %>
<%= link_to "See Branch", branch_path(branch) %>
<%end%>
<%end%>
<%end%>
<%end%>
<%end%>

      </body>
      </html>
