<body>
  <div id="page-wrapper">

    <div class="container-fluid">

        <!-- Page Heading -->
      <div class="row">
          <div class="col-lg-12">
              <h1 class="page-header">
                  Projects <small><%= @project.title %></small>
              </h1>
              <% if @project.user_id == current_user.id %>
                <%= button_to 'Delete Project', project_path(@project), method: :delete, data: {confirm: 'Are you sure you want to delete this project?'}, class: 'btn btn-default delete-button' %>
              <% end %>
              <ol class="breadcrumb">
                  <li>
                      <i class="fa fa-dashboard"></i>  <a href="/">Dashboard</a>
                  </li>
                  <li class="active">
                      <i class="fa fa-fw fa-desktop"></i> <%= @project.title %>
                  </li>
              </ol>
          </div>
      </div>


      <div class="col-lg-12 project-box">
        <div class="col-lg-4 project-genre text-center">
          <h4><%= @project.genre %></h4>
        </div>
        <div class="col-lg-8 project-description text-center">
          <p><%= @project.description %><p>
        </div>
      </div>

      <% if @project.user_id == current_user.id %>
      <h3>Upload Master Track</h3>
      <div class="col-lg-12 master_track">
        <%= render "projects/partials/show/projects_show_upload_master_track", local: { project: @projects } %>
      </div>
      <% end  %>

      <div class="col-lg-12 track-show">
        <%= render "projects/partials/show/projects_show_master_track", local: { project: @projects } %>
      </div>

  <h2>Comment</h2>

  <%= render "projects/partials/show/projects_show_create_and_show_comments", local: { project: @projects } %>

  <%= render "projects/partials/show/projects_show_create_branch", local: { project: @projects } %>

  <%= render "projects/partials/show/projects_show_send_collab_request", local: { project: @projects } %>

  <h2>Send a message to the project owner </h2>
  <%= render "projects/partials/show/projects_show_send_private_message", local: { project: @projects } %>

  <%if current_user.id == @project.user_id %>
  <div class="col-lg-12">
    <div class="col-lg-4 col-md-6 col-xs-12">
      <h2> Mix requests </h2>
      <%= render "projects/partials/show/projects_show_show_mix_requests", local: { project: @projects } %>
    </div>
    <div class="col-lg-4 col-md-6 col-xs-12">
    <h2> Collab requests </h2>
    <%= render "projects/partials/show/projects_show_show_collab_requests", local: { project: @projects } %>
    </div>
    <div class="col-lg-4 col-md-6 col-xs-12">
    <h2> Collaborators </h2>
    <%= render "projects/partials/show/projects_show_existing_collabs", local: { project: @projects } %>
    </div>

  </div>

  <% end %>

  <!-- <h2> Messages </h2>
    <%= render "projects/partials/show/projects_show_project_messages", local: { project: @projects } %> -->

  <!-- <h2> Blacklist </h2>
    <%= render "projects/partials/show/projects_show_blacklist_collabs", local: { project: @projects } %> -->

  </div>
</div>
</body>
